services:
  payment-service:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: arsiwooqq/payment-service
    networks:
      - payment-service-net
      - backend-net
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka-0:9090,kafka-1:9090,kafka-2:9090
      EUREKA_URL: http://discovery-service:8761/eureka
      MONGO_USERNAME: ${MONGO_USERNAME}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      MONGO_DATABASE: ${MONGO_DATABASE}
      MONGO_HOST: payment-service-mongo

  kafka-0:
    image: apache/kafka:latest
    networks:
      - backend-net
    volumes:
      - kafka-data-0:/var/lib/kafka/data
    environment:
      CLUSTER_ID: 6fb4e62b-5578-4152-9185-23f5cd5747cf
      KAFKA_NODE_ID: 0
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka-0:9091, 1@kafka-1:9091, 2@kafka-2:9091
      KAFKA_LISTENERS: INTERNAL://:9090,CONTROLLER://:9091
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-0:9090
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

  kafka-1:
    image: apache/kafka:latest
    networks:
      - backend-net
    volumes:
      - kafka-data-1:/var/lib/kafka/data
    environment:
      CLUSTER_ID: 6fb4e62b-5578-4152-9185-23f5cd5747cf
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka-0:9091, 1@kafka-1:9091, 2@kafka-2:9091
      KAFKA_LISTENERS: INTERNAL://:9090,CONTROLLER://:9091
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-1:9090
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

  kafka-2:
    image: apache/kafka:latest
    networks:
      - backend-net
    volumes:
      - kafka-data-2:/var/lib/kafka/data
    environment:
      CLUSTER_ID: 6fb4e62b-5578-4152-9185-23f5cd5747cf
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka-0:9091, 1@kafka-1:9091, 2@kafka-2:9091
      KAFKA_LISTENERS: INTERNAL://:9090,CONTROLLER://:9091
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-2:9090
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

  payment-service-mongo:
    image: mongo:6
    restart: always
    ports:
      - '27017:27017'
    networks:
      - payment-service-net
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    volumes:
      - payment-service-mongo-data:/data/db

volumes:
  payment-service-mongo-data: {}
  kafka-data-0: {}
  kafka-data-1: {}
  kafka-data-2: {}

networks:
  payment-service-net: {}
  backend-net: {}